<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Big Bites! </title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/sketchy/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="..\public\assets\js\burgers_app.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">

        <p class="navbar-brand bg-warning text-black">   Time For Some Big Bites!   </p>
        <form class="form-inline my-2 my-lg-0 create-form">
            <input class="form-control mr-sm-2 bg-danger text-white" name="name" id="newBurger" type="text" placeholder="Mmmmmmmmmmmmm......"
                required>
            <button class="btn btn-success my-2 my-sm-0 btn-add" type="submit"> C'mon! Add a New Burger! </button>
        </form>
        
    </nav>
    {{{ body }}}

</body>

</html>